{% macro hamburger() %}
  <button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
    <span class="hamburger__lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
{% endmacro %}

{% macro logo(options) %}
  {% import _self as macros %}
  <div class="nav__logo {{options.class}}">
    {{ macros.hamburger() }}
    <div class="nav__logo-item">
      <img class="nav__logo-img" src="{{options.logo}}" alt="{{options.alt}}"/>
    </div>
  </div>
{% endmacro %}

{% macro menu(class) %}
  <nav class="nav__menu {{class}}" id="js-navigation-menu">
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-1">Спикеры</a></li>
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-2">Программа</a></li>
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-3">Отзывы</a></li>
    <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#id-3">Пакеты участия</a></li>
  </nav>
{% endmacro %}

{% macro addition(type,  class) %}
  <div class="nav__addition {{class}}">
    <button class="btn nav__addition-button">Узнать наличие мест</button>
  </div>
{% endmacro %}