{% import 'macros/landing.twig' as landing %}
<section class="section possibility">
    <div class="container possibility__container">
        {{ landing.skew('1', 'possibility__skew possibility__skew_1') }}
        {{ landing.skew('1', 'possibility__skew possibility__skew_2') }}
        {{ landing.skew('4', 'possibility__skew possibility__skew_3') }}
        {{ landing.skew('1', 'possibility__skew possibility__skew_4') }}
        {{ landing.skew('3', 'possibility__skew possibility__skew_5') }}
        <div class="possibility__content">
            <div class="possibility__content-inner">
                    <p>Сетевой бизнес принято считать одной из лучших возможностей для <strong>быстрого безрискового финансового взлета</strong>. Вы начинаете работу с готовым, качественным продуктом, зарекомендовавшим себя
                    на рынке. Более того: вас поддерживает и направляет сильная компания с хорошей репутацией.</p>
                <p>Но на практике оказывается, что в нем, как и в любом бизнесе, есть <strong>ряд специфических сложностей</strong>: трудно выстроить хорошие отношения с командой, куча сил сливаются впустую, крутитесь, как белка в колесе,
                    а результата нет.</p>
            </div>
        </div>
    </div>
</section>