{% import 'macros/landing.twig' as landing %}
{%
    set items = [
        {
            image: 'img/rev-1.png',
            name: 'Тамара Донст',
            link: '',
            content: 'Иногда чувства благодарности так переполняют душу, что хочется кричать и плакать одновременно от того момента, в котором есть всё, о чем можно только мечтать, и это наша жизнь. Дорогой мой наставник Наталия Шевела, благодарю тебя и всех твоих потрясающих помощников за проделанной такой потрясающий труд! Всех, кто принимал участие, благодарю. Атмосфера добра и теплоты, бизнеса и знаний, переосмысления и понимания, это было круто. Низкий поклон всем. С любовью и благодарностью!'
        },
        {
            image: 'img/rev-2.png',
            name: 'Любовь Овчаренко',
            link: '',
            content: 'Доброе утро, друзья! Вчера было поистине историческое событие в Украине! Вчера был праздник, изменивший сознание многих присутствующих в зале. Благодарность Наталие Шевеле за организацию такого масштабного события!! Это было вау!'
        },
        {
            image: 'img/rev-3.png',
            name: 'Алла Каминская',
            link: '',
            content: 'Наталья, присоединяюсь вместе со своей дружной командой к словам благодарности!!! Очень пониманию сколько труда, энергии, бессонных ночей вложено в этих незабываемых четыре дня!!! Низкий поклон всем, кто принимал активное участие и оказывал помощь, чтоб это грандиозное мероприятие состоялось!!! Уверенна, вы посеяли очень хорошее семя, а плоды будут обязательно!!! Божьих вам благословений!!!'
        },
        {
            image: 'img/rev-4.png',
            name: 'Татьяна Потынга',
            link: '',
            content: 'Дорогие и любимые лидеры - Наталия, Диана и Геннадий, организаторы и все спикеры форума - от имени всей нашей команды выражаем огромную благодарность за организацию и проведение потрясающего мероприятия! Мы получили много ценнейшей информации, которой будем делиться с нашими партнерами. Вам удалось собрать партнеров преданных и верных своему делу и гостей из разных стран. Благодаря слаженной работе и вашему профессионализму - форум прошел на высочайшем уровне! Мы с нетерпением будем ждать встречи в олимпийском в следующем году. Искренне благодарны, еще раз огромное спасибо!'
        },
        {
            image: 'img/rev-5.png',
            name: 'Марина Коваль',
            link: '',
            content: 'Ущипните меня! Как всё круто! Как драйвово! Я кайфую от жизни! Огромная благодарность всем-всем: организаторам и помощникам нашего дорогого наставника и борд директора Наталии Шевелы, и конечно же самой Наталие, это грандиозное незабываемое, потрясающее, шикарное мероприятие! Всё обдумали, всех согрели теплом и заботой, я ещё никогда в жизни не присутствовала на таких мероприятиях, эмоции зашкаливают, хочется жить, лететь! И думаю со мной согласятся многие! Это было феерично круто! От всех нас огромное спасибо и низкий поклон! Всем вам всего и сполна! любим и гордимся!'
        },
        {
            image: 'img/rev-6.png',
            name: 'Анна Асварова',
            link: '',
            content: 'Невероятное событие прошло у нас сегодня! Масштаб - космос!!! Уровень - к которому многие компании стремятся и тянутся. Это размах, это энергетика, это уровень спикеров и уровень инвестиций, который мы сможем осознать спустя несколько дней, когда вернемся домой. Наталия Шевела - от всей команды благодарим вас за событие, которое перевернет жизнь многих людей! Ведь события - роддом для лидеров!!! Сердечная благодарность за этот семинар!!!'
        },
        {
            image: 'img/rev-7.png',
            name: 'Виктор Миняев',
            link: '',
            content: 'Сегодня вернулись с потрясающего незабываемого эмоционального фееричного профессионально подготовленного форума, который состоялся в Киеве с 8 по 12 августа и был подготовлен моим наставником, членом совета директоров, долларовым миллионером inСruises – Наталией Шевела. Спасибо тебе необыкновенно щедрый и профессиональный наставник. На форуме присутствовало около 3000 человек, награждено за новые ранги более 300 человек. Президент клуба поделился достижениями нашего клуба и перспективами развития. Это было очень круто. Эмоции до сих пор переполняют меня. Хочется делится информацией о клубе со всем миром. Друзья, добро пожаловать в первый и единственный международный круизный клуб.'
        },
        {
            image: 'img/rev-8.png',
            name: 'Светлана Яковлева',
            link: '',
            content: 'Огромное благодарю Наталии Шевелы и всем организаторам такого волшебного, замечательного форума, который прошёл в Киеве. Наталия - ты женщина цели, ты настоящий достигатор! Большущая благодарность! Получены новые фишки, новое видение в бизнесе. Все делалось большим сердцем! Огромное благодарю!'
        },
        {
            image: 'img/rev-9.png',
            name: 'Ирина Патскова',
            link: '',
            content: 'Огромная благодарность Наталье Шевеле и всей команде за шикарный праздник души, который ворвался в жизни очень многих людей! Команда из города ровно безмерно благодарна и подтверждает это новыми регистрациями, которые идут без остановки со второго дня форума! Все, что происходило все эти дни — это невероятно грандиозное событие! Если в прошлый раз мы приехали новичками, то в этот раз уже стояли на сцене! Благодарим!'
        },
        {
            image: 'img/rev-10.png',
            name: 'Валентина Мороз',
            link: '',
            content: 'Благодарю Наталию Шевелу за очень большую работу, которую она провела по организации праздника души, счастья эмоций и вдохновенья. Подготовить спикеров, которые от души. Делились с нами своими знаниями. Всем спикерам низкий поклон. А также большая благодарность ведущим, художникам, операторам. Все было отшлифовано и прошло на одном дыхании. Я уверена, что атмосфера главного театра страны Дворца Украина передалась во многие страны, представители которых были в зале. Продолжаем писать историю любви. Спасибо Майклу за такой подарок нам!'
        }
    ]
%}

<section class="section review">
    <div class="container">
        <div class="section__header review__header">
            <p class="section__title">Отзывы участников прошлых мероприятий</p>
        </div>
        <div class="row review__content">
            {% set i = 0 %}
            {% for item in items %}
                {% set i = i + 1 %}
                <div class="col-12 col-sm-6 review-item review-item_{{ i }}">
                    <div class="review-item__inner">
                        <div class="review-item__header">
                            <div class="review-item__header-part">
                                {{ landing.image(item.image, 'review item', 'review-item__image') }}
                                <p class="review-item__name">{{ item.name }}</p>
                            </div>
                            <div class="review-item__header-part">
                                <ul class="social">
                                    <li class="social__item"><a class="social__link social__link_fb" href="{{ item.link }}"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="review-item__content">
                            {{ item.content|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>